.customForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customForm__group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.customForm__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.customForm__submit .wpcf7-form-control.wpcf7-submit {
    margin-top: 0px;
}

.customForm .column {
    margin-top: 25px;
}

.customForm .column.customForm--group {
    margin-top: 10px;
}

.customForm .dt-sc-one-column {
    width: 74%;
}

.customForm .dt-sc-one-half {
    width: 36%;
}

.customForm .wpcf7-checkbox {
    display: flex;
    flex-direction: column;
}

.customForm .wpcf7-not-valid {
    border: 1px;
    border-style: solid;
}

.customForm .form-required {
    color: red;
}

.wpcf7-form-control.wpcf7-submit {
    border-radius: 50px;
    padding: 19px 40px 19px;
}

.wpcf7-form-control-signature-body canvas {
    background-color: rgba(0,0,0,0.1);
}

.wpcf7-form-control-clear-wrap input {
    color: #3b3e47;
    border: 1px;
    border-color: #3b3e47;
    border-style: solid;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {	
    .customForm .column {
        margin-left: 2%;
        margin-bottom: 0px;
    }

    .customForm .dt-sc-one-column {
        width: 100%;
    }
    
    .customForm .dt-sc-one-half {
        width: 49%;
    }
 }

 @media (max-width: 480px) {
    .customForm .column {
        margin-left: 0px;
    }

    .customForm .dt-sc-one-half {
        width: 100%;
    }
}