.customButton1 {
    display: flex;
    align-items: center;
    font-family: "PT Serif", Georgia, serif;
    font-size: 14px;
    border-radius: 4px;
    background-color: #3bb2d0;
    color: #ffffff;
    line-height: normal;
    padding: 4px 10px;
    transition: all 0.5s ease;
}

.customButton1:hover {
    color: #ffffff !important;
    background-color: #74767a;
}

.customButton1 .fa {
    font-size: 15px;
    font-weight: 900;
}

.customButton1--collapsableLabel .customButton1__label {
    display: none;
}

@media (min-width: 480px) {
    .customButton1--collapsableLabel .fa {
        margin-right: 6px;
    }

    .customButton1--collapsableLabel .customButton1__label {
        display: block;
    }
}

.customIconButton1 {
    display: flex;
    align-items: center;
    font-family: "PT Serif", Georgia, serif;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #3bb2d0;
    color: #ffffff;
    line-height: normal;
    padding: 4px 10px;
    transition: all 0.5s ease;
}

.customIconButton1 .fa {
    color: #ffffff;
}

.customIconButton1:hover {
    background-color: #3bb2d0;
}

/* Hides staff tile social overlay */
.customStaffTile .dt-sc-team-thumb-overlay {
    display: none;
}

.textwidget pre {
    font-family: inherit;
    border: 0;
    padding: 0;
}

h1.simple-title {
    max-width: 900px;
    margin: 0px auto 40px;
    text-align: center;
}

#toTop {
    bottom: 100px;
    background-color: #3bb2d0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px 0px;
}